.dashboard-container {
    background: #F7F7F9;
    padding: 30px;
}

.tickets-info {
    display: block;
    margin-bottom: 30px;
    width: 97%;
    margin: auto;

}

.specific-ticket-info {
    width: 25%;
    border-style: solid;
    border-color: gray;
}

.fake-graph {
    margin: auto;
    padding: 40px;
}

.ticket-card-info {
    display: block;
    float: right;
    text-align: right;
    padding: 0px 20px;
}

.ticket-card-number {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5rem;
}

.ticket-card-category {
    font-size: 20px;
    font-weight: 400;
    line-height: 2.5rem;
}

.ticket-card-image {
    display: block;
    padding: 25px 10px 10px 35px;
}

.ticket-info {
    display: block;
    align-content: center;
}

.graph-card {
    width: 97%;
    margin: auto;
    padding: 10px 32px;
    margin-top: 30px;

}

.additional-info {
    display: block;
    float: left;
    text-align: left;
    padding: 0px 20px;
}