.admin-login-container {
  padding-top: 100px;
  background: #29292B;
  height: 100%;
}

.admin-login-container p {
  color: white;
  font-size: 3rem;
  font-weight: 600;
}

.acn {
  color: #febc11;
}
